






.menu{

    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu li{
    margin: 0 10px;
    padding: 0;
}


a {
    text-decoration: none;
    /* color:  var(--menu-text-color);  */
  }

  a:not(.active):visited{
    color: inherit;
  }
  


    
  .active{
    color:rgb(0, 187, 255); 
   
  }
  a:hover, a:visited:hover {
    color: rgb(0, 187, 255); /* Or any other color you prefer */
  }


   /* @keyframes slidein {
    from {
      transform: translateX(0%);;
     
    }
    to {
      transform: translateX(-100%);
     
      
    }
  } 
  
  .sliding {
    display: flex;
    position: relative;
    
    
    

    width: 100%;
  } 
/* 
  img {
   /*  max-width: 100%; Ensure images don’t overflow the container */
  /* height: 400px;
  width:auto;
} */ 


  /* im making the carsel right here */
  