
.carousel-container {
    
    /* overflow: hidden; */
    position: relative;
    height: 300px;
    /* border-color: #4b5563; */
    width: max-content;
  
    display: flex;
  }
  
  .carousel-card {
    display: flex;
    height: 400px;
    opacity: 95%;
    /* justify-content: center;
    align-items: center; */
    /* width: 100%;
    height: 100%; */
  
    
    /* background: rgb(41, 40, 40); */ 
  }

  /* .carousel-card:hover {
    transform: scale(0.9);
    box-shadow: 5px 5px 8px rgba(222, 222, 222, 0.362),
      10px 10px 8px rgba(152, 133, 133, 0.392),
      15px 15px 8px rgba(139, 154, 139, 0.303);
  }
   */
 /* .carousel-card > img { */
    /* height: 100px;
    width: 100px; */
    /* border-radius: 10%; */
    /* object-fit: contain;
  } */

   .carousel-track {
    left: 0;
    display: flex;
    position: absolute;
    /* justify-content: center;
    align-items: center;
    height: 80px; */
    /* gap: 16px; */
    width: 200%;  
    height: 400px;
    animation: slide 100s linear infinite;
    /* background-color: rgb(23, 23, 23); */
}
.secondFastest {
    animation: slide 500s linear infinite;
    height: 400px;
    padding: 20px;
    opacity: 90%;
    /* //border-radius: 30px; */
    
    
    /* background-color: aquamarine; */
}
.firstCaroselPortraits {
    animation: slide 200s linear infinite;
    height: 400px;
    padding: 20px;
    /* opacity: 90%; */
    
    
    /* background-color: aquamarine; */
}

.secondPortraitsGoingInReverse{
  animation: slideReverse 190s linear infinite;
  height: 400px;
  padding: 20px;
  /* opacity: 90%; */
  
}

.thirdCaroselPortraits {
    animation: slide 200s linear infinite;
    height: 400px;
    padding: 20px;
    /* opacity: 90%; */
    
    
    /* background-color: aquamarine; */
}

/* .carousel-track:nth-of-type(2){
 
    background-color: green;
    animation: slide 10s linear infinite;
    animation-delay: 10s;
} */

/* .carousel-track:hover {
    animation-play-state: paused;
    height: 300px;
} */

/* need more delay here and other key frames and do dosplay flex */

@keyframes slide {
    0% {
        /* transform: translateX(0%);  */
        left: 0;
    }
 
    100% {
        /* transform: translateX(-100%); */
        left: -100%
    }
}
@keyframes slideReverse {
    0% {
        /* transform: translateX(0%);  */
        left: -100%;
    }
 
    100% {
        /* transform: translateX(-100%); */
        left: 0;
    }
}
