@font-face {
    font-family: 'SpaceGrotesk';
    src: url('./fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf') format('truetype');
}

:root{
    --background-dark:black;
    --background-light:white;
    --color-text-dark-mode:white; 
    --color-text-light-mode:black; 
    --menu-text-color:  rgb(246, 217, 217);
    font-family: 'SpaceGrotesk';
    box-sizing: border-box;
}
   /* color: aqua; */
body, .dark-mode{
   background-color: var(--background-dark);
   color: var(--color-text-dark-mode);
    font-family: 'SpaceGrotesk';
    /* transition: background-color 1.5s ease, color 1.5s ease; */
 
  
}

.light-mode{
    background-color:var( --background-light );
    color: var(--color-text-light-mode);
}

.toggleButton{
    font-family: 'SpaceGrotesk';
    background-color: black;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
    height: fit-content;
    width: fit-content;
    margin-right: 3rem;
    margin-top: 1rem;
    
}

.light-mode .toggleButton{
     border: 1px solid black;
     background-color: white;
     color: black;
}

/* Base styles for anchor tags - NEW */
a, a:link, a:visited {
  text-decoration: none;
  color: var(--menu-text-color); /* Default color - NEW */
}

/* Dark mode link styles - NEW */
.dark-mode a, .dark-mode a:link, .dark-mode a:visited {
  color: var(--color-text-dark-mode); /* Color for dark mode - NEW */
}

/* Light mode link styles - NEW */
.light-mode a, .light-mode a:link, .light-mode a:visited {
  color: var(--color-text-light-mode); /* Color for light mode - NEW */
}

.active {
  color: rgb(0, 187, 255); /* Light blue color for the active link */
}

a:hover, a:visited:hover {
  color: rgb(0, 187, 255); /* Light blue color on hover - Unchanged */
}

.menu li .active {
  color: rgb(0, 187, 255); /* Light blue color */
}


/* @media (prefers-color-scheme: dark) {
    :root{
        --background-color:black;
        --color:white; 
        --menu-text-color: rgb(246, 217, 217);
    }
   
  } */


    


  



  @keyframes rotateCircle{

    0%{
        transform: rotate(0deg);
        fill: aquamarine;
    }
    50%{
        transform: rotate(100deg);
        fill: blanchedalmond;
    }
    100%{
        fill: aquamarine;
    }
        
  }


  #myCircle.clicked{

    transform: scale(2);
    transition: transform 0.5s ease, fill 0.5s ease;
  }


/* #myCircle:hover{
    stroke: purple;
} */

  #myCircle{
    /* animation: expandCircle 2s infinite; */
    transform-origin: 50% 50%;
    transition: all 0.5s ease;
  }


  .animated-box {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    border: 2px solid black;
  }
  