@font-face {
    font-family: 'SpaceGrotesk';
    src: url('./fonts/Space_Grotesk/static/SpaceGrotesk-Regular.ttf') format('truetype');
}
   /* color: aqua; */
body{
    font-family: 'SpaceGrotesk';
  
}